<div class="map_container">

</div>



<%= form_for @ticket do |f| %>
  <%= label_tag :location, "Location (address or cross street)" %>
  <%= text_field_tag :location %>

  <%= f.label :fine, "What's the damage? (how deep?)" %>
  <%= f.text_field :fine %>

  <%= f.label :officer, "Who wrote the ticket? (that jerk)" %>
  <%= f.text_field :officer %>

  <%= f.label :issued_at, "When did they write this ticket?" %>
  <%= f.date_field :issued_at %>

  <%= f.label :status, "What is the status of your ticket?" %>
  <%= f.select :status, ["Unpaid", "Contested", "Paid", "Resolved"]  %>

  <%= label_tag :email, "Email (optional)" %>
  <%= email_field_tag :email %>

  <%= f.submit %>
<% end -%>