<div id="map-canvas">

</div>



<%= form_for @ticket do |f| %>
  <%= label_tag :location, "Location (address or cross street)" %>
  <%= text_field_tag :location %>

  <%= f.label :fine, "What's the damage? (how deep?)" %>
  <%= f.text_field :fine %>

  <%= f.label :officer, "Who wrote the ticket? (that jerk)" %>
  <%= f.text_field :officer %>

  <%= f.label :issued_at, "When did they write this ticket?" %>
  <%= f.date_field :issued_at %>

  <%= f.label :status, "What is the status of your ticket?" %>
  <%= f.select :status, ["Unpaid", "Contested", "Paid", "Resolved"]  %>

  <%= label_tag :email, "Email (optional)" %>
  <%= email_field_tag :email %>

  <%= f.submit %>
<% end -%>

<script type="text/javascript">
  var parkingData = <%= put a call to a controller, which collects our data set %>

  // var taxiData = [
  //   new google.maps.LatLng(23.56765,-110.45654),
  //   new google.maps.LatLng(24.4565,-112.34545),
  //   new google.maps.LatLng(22.54343,-111.34544),
  //   new google.maps.LatLng(21.45434,-109.65465)
    
  // ];

  function initMap(event) {
    initialize(taxiData);
  }

  google.maps.event.addDomListener(window, 'load', initMap);
</script>
