<tr class="ticket">
  <td><%= ticket.location.user_submission %> &nbsp;&nbsp;&nbsp;</td>
  <td><%= ticket.issued_at.strftime("%m/%d/%Y") %> &nbsp;&nbsp;&nbsp;</td>  
  <td>$<%= ticket.fine %> &nbsp;&nbsp;&nbsp;</td>
  <td><%= ticket.officer %> &nbsp;&nbsp;&nbsp;</td>
  <td><%= ticket.status %> &nbsp;&nbsp;&nbsp;</td>
  <%= form_for ticket, url: ticket_path do |f| %>
  <td><%= f.select :status, ["Unpaid", "Contested", "Paid", "Resolved"]  %></td>

  <td><%= f.submit %></td>
  <% end %>


</tr>
