<h4><%= @current_ticket.issued_at %></h4>
<b>Violation:</b> <%= @current_ticket.violation %>
<b>Fine:</b> <%= @current_ticket.fine %>
<b>Status:</b> <%= @current_ticket.status %>
<b>Officer:</b> <%= @current_ticket.officer %>