<!DOCTYPE html>
<html>
<head>
  <title>ParkingDangerMap</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>


  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
  <ul>
  <% if current_user %>
    <li><%= link_to "Logout", logout_path(current_user.id), method: :delete %></li>
    <li><%= link_to "Profile", user_path(current_user.id) %></li>
    <li><%= link_to "Home", root_url %></li>
    <% else %>
    <li><%= link_to '<button type="button" id="signup">Sign up</button>'.html_safe, signup_path %></li>
    
    
    <li><div class="form">
        <%= form_tag login_path do %>
          <%= email_field_tag :email %>
          <%= password_field_tag :password %>
          <%= submit_tag "Log in"%>
        <% end %>
      </div> </li>
  <% end %>
    
  </ul>
</nav>

<%= yield %>

</body>
</html>
