<!DOCTYPE html>
<html>
<head>
  <title>ParkingDangerMap</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
  <ul>
  <% if logged_in? %>
    <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
    <li><%= link_to "Profile",(current_user.id) %></li>
    <li><%= link_to "Home", (current_user.id) %></li>
  <% end %>
    <li><button id="signup">Sign Up</button></li>
  </ul>
</nav>  

<%= yield %>

</body>
</html>
